body {
  margin: 0;
  font-family: 'Chewy', cursive;
  background-color: #87CEEB;
}

/* Kontainer utama agar sidebar dan gambar sejajar */
.container {
  display: flex;
  height: 100vh;
}

/* Sidebar kiri */
.sidebar {
  width: 220px;
  background-color: #87CEEB;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 5px solid #000080;
}

/* Gambar di bagian atas sidebar */
.header-image img {
  width: 100%;
  border-bottom: 5px solid #4169E1 ;
}

/* Menu edukasi */
.menu {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  width: 100%;
  text-align: left;
}

.menu a {
  text-decoration: none;
  color: #3b1c0a;
  font-size: 20px;
  padding: 10px 20px;
  letter-spacing: 2px;
  transition: all 0.3s ease;
}

.menu a:hover {
  background-color: #4169E1;
	  color: #fff;
  padding-left: 35px;
}

/* Gambar utama di sebelah kanan */
.main-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.main-image img {
  max-width: 80%;
  max-height: 90%;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  object-fit: cover;
  margin-top: 3% ;
}

@charset "utf-8";
/* CSS Document */

